<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>REGISTER ||</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.css" />
    
</head>
<body>
    <div class="container">
          <nav>
                   <div class="container">
                         <div class="nav-wrapper">
                             <a href="/" class="brand-logo">HOME</a>
                         </div>
                   </div>
         </nav>
                <div class="card">
                      <div class="card-content">
                          <h3 class="center-align ">PLEASE PROVIDE YOUR INFORMATION HERE...</h3>

                          <form action="/info" method="POST">
                             <label>NAME :</label>
                             <input type="text" name="name" >
                          
                             <label> EMAIL :</label>
                             <input type="email" name="email" >
                          
                             <label> PASSWORD:</label>
                             <input type="password" name="password" >
                          
                             <label>PHONE NO.:</label>
                             <input type="number" name="phn" >

                             <input type="submit" value="submit" class="btn red">
                          
                          
                          </form>
              </div>
              {{>footer}}
        </div>
  

    </div>
    
</body>
</html>